.main {
    width: 100%;
    height: 100vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.main-block{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.main-block-image{
    width: 32px;
    height: 32px;
    filter: invert(43%)
            sepia(88%)
            saturate(550%)
            hue-rotate(85deg)
            brightness(95%)
            contrast(90%);
}

.main-title {
    font-size: 48px;
    font-weight: 800;
}

.main-link {
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 0 20px;
    border-radius: 12px;
    border: 1px solid #1e293b;

    text-decoration: none;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.15);
    transition: 0.2s;
}

.main-link:hover {
    border-color: #000000;
    background: #000000;
    transform: translateY(-2px);
    color: #fff;
}

.main-image {
    width: 32px;
    height: 32px;
}

.main-link:hover .main-image {
    filter: brightness(0) invert(1);
}

.main-text {
    font-size: 20px;
    font-weight: 500;
}

.bg-image {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120%;  /* больше для запаса */
    height: 120%;
    object-fit: cover;
    pointer-events: none;
    transform: translate(-50%, -50%) translate(0px, 0px);
    transition: transform 0.1s ease-out;
    z-index: -1;
}
