.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-block{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-back {
    position: fixed; /* лучше чем absolute */
    top: 20px;
    left: 20px;

    display: inline-flex;
    align-items: center;
    gap: 15px;

    padding: 6px 14px;
    background: #ffffff;
    border-radius: 999px;

    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

    transition: all 0.2s ease;
    z-index: 100;
}

.main-back::before {
    content: "←";
    margin-right: 6px;
    transition: transform 0.2s;
}

/* hover */
.main-back:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.18);
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    color: #111111;
}

.main-back:hover::before {
    transform: translateX(-3px);
}

/* active */
.main-back:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.main-image{
    width: 40px;
    height: 40px;
}

.main-title{
    font-size: 48px;
    font-weight: 500;
    color: #000000;
}

.main-container{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

